<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Book Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="glyphicon glyphicon-user"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="app-get-all-books" routerLinkActive="active" class="nav-item nav-link">All Books <span class="sr-only">(current)</span></a>
      <a routerLink="app-add-book" routerLinkActive="active" class="nav-item nav-link">Add student</a>
      <a routerLink="app-cart" routerLinkActive="active" class="nav-item nav-link">Save Cart</a>
    </div>
  </div>
</nav>-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>